﻿@model IEnumerable<Solution.Presentation.Models.DisponibiliteVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="widget">
    
    <!-- Tabs Content -->
    <div class="tabs-container">
        <div class="tab-content" id="tab1">

            <!-- Recent Posts -->
            <ul class="widget-tabs">

                @foreach (var item in Model)
                {
                    <li>


                        <div class="widget-text">
                            
                            <span>
                                @Html.DisplayFor(modelItem => item.datedis)
                            </span>
                        </div>
                        <div class="clearfix">
                            @Html.ActionLink("Delete", "Delete", new { Id = item.Id }) |
                            @Html.ActionLink("Update", "Edit", new { Id = item.Id }) |


                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>


