﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find me a job</title>

    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/colors.css">

</head>
<body>
    <div id="wrapper">


        <!-- Header
        ================================================== -->
        <header class="transparent sticky-header">
            <div class="container">
                <div class="sixteen columns">

                    <!-- Logo -->
                    <div id="logo">
                        <h1><a href="index.html"><img src="~/Content/images/logo2.png" alt="Work Scout" /></a></h1>
                    </div>

                    <!-- Menu -->
                    <nav id="navigation" class="menu">
                        <ul id="responsive">

                        </ul>


                        <ul class="float-right">
                        </ul>

                    </nav>

                    <!-- Navigation -->
                    <div id="mobile-navigation">
                        <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i></a>
                    </div>

                </div>
            </div>
        </header>
        <div class="clearfix"></div>



        <!-- Banner
        ================================================== -->
        <div id="banner" class="with-transparent-header parallax background" style="background-image: url(~/Content/banner-home-02.jpg)" data-img-width="2000" data-img-height="1330" data-diff="300">
            <div class="container">
                <div class="sixteen columns">

                    <div class="search-container">

                      


                    </div>

                </div>
            </div>
        </div>


        <div class="container body-content">
            @RenderBody()
        </div>
        <!-- Footer
        ================================================== -->
        <div class="margin-top-15"></div>

        <div id="footer">
            <!-- Main -->
            <div class="container">

            </div>

            <!-- Bottom -->
            <div class="container">
                <div class="footer-bottom">
                    <div class="sixteen columns">
                        <h4>Follow Us</h4>
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                        <div class="copyrights">©  Copyright 2019 by <a href="#">Hexagone</a>. All Rights Reserved.</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

    </div>
    <!-- Wrapper / End -->


    @RenderSection("scripts", required: false)

    <script src="~/Content/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/scripts/jquery-migrate-3.1.0.min.js"></script>
    <script src="~/Content/scripts/custom.js"></script>
    <script src="~/Content/scripts/jquery.superfish.js"></script>
    <script src="~/Content/scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="~/Content/scripts/jquery.flexslider-min.js"></script>
    <script src="~/Content/scripts/chosen.jquery.min.js"></script>
    <script src="~/Content/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/scripts/waypoints.min.js"></script>
    <script src="~/Content/scripts/jquery.counterup.min.js"></script>
    <script src="~/Content/scripts/jquery.jpanelmenu.js"></script>
    <script src="~/Content/scripts/stacktable.js"></script>
    <script src="~/Content/scripts/slick.min.js"></script>
    <script src="~/Content/scripts/headroom.min.js"></script>
</body>
</html>
