﻿@model IEnumerable<Solution.Presentation.Models.EntretienVM>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="widget">
    <ul class="tabs-nav blog">
        <li class="active"><a href="#tab1">Mes entretiens</a></li>
        <li><a href="#tab3">Mes disponibilites</a></li>
    </ul>
    <!-- Tabs Content -->
    <div class="tabs-container">
        <div class="tab-content" id="tab1">

            <!-- Recent Posts -->
            <ul class="widget-tabs">

                @foreach (var item in Model)
                {
                <li>


                    <div class="widget-text">
                        <h5><a href="">@Html.DisplayFor(modelItem => item.dateEntretien) </a></h5>
                        <span>
                            @Html.DisplayFor(modelItem => item.CandidatureId)
                          
                        </span>
                    </div>
                    <div class="clearfix">
                        @Html.ActionLink("Delete", "Delete", new { id = item.EntretienId }) |
                        @Html.ActionLink("Update", "Edit", new { id = item.EntretienId }) |


                    </div>

                </li>
                }
            </ul>

        </div>
    </div>
</div>


