﻿@model IEnumerable<Solution.Presentation.Models.ContactVM>

@{
    ViewBag.Title = "Requests";
}


<div class="tabs-container">


    <div class="tab-content" id="tab1">


        <!-- Recent Posts -->
        <ul class="widget-tabs">

            @foreach (var item in ViewBag.myContactRequest)
            {
                <li>
                    <div class="widget-thumb">
                        <a href="blog-single-post.html">
                            @{string path = "~/Content/Uploads/" + @item.photo;}
                            <img src="@Url.Content(path)" />
                        </a>
                    </div>

                    <div class="widget-text">
                        <h5><a href="">@item.firstName @item.lastName</a></h5>
                        <span>
                            @item.userName
                        </span>
                        <span>
                            @item.address
                        </span>
                    </div>
                    <div class="clearfix">
                        @Html.ActionLink("Accept", "Accept", new { id = item.Id }) |
                        @Html.ActionLink("Refuse", "Refuse", new { id = item.Id }) |
                        @Html.ActionLink("show profile", "DetailsContact", new { id = item.Id })
                    </div>
                </li>

            }
        </ul>

    </div>

</div>
