﻿@model Solution.Presentation.Models.CandidatureVM

@{
    ViewBag.Title = "Details";
}

<div id="titlebar" class="resume">
    <div class="container">
        <div class="ten columns">
            <div class="resume-titlebar">
                
                <div class="resumes-list-content">
                    <h4> @Html.DisplayFor(model => model.nom)  @Html.DisplayFor(model => model.prenom)</h4>
                   
                    <span class="icons"><i></i> @Html.DisplayFor(model => model.num)</span><br>
                    <span class="icons"><i></i> @Html.DisplayFor(model => model.addresse)</span><br>
                    <div class="clearfix"></div>

                </div>
            </div>

        </div>


    </div>
</div>


<div class="container">
    <!-- Recent Jobs -->
    <div class="eight columns">
        <div class="padding-right">

            <h3 class="margin-bottom-15">About Me</h3>

            <p class="margin-reset">  @Html.DisplayFor(model => model.intro) </p>
            <br><br>

            <h3 class="margin-bottom-15">Skills</h3>

            <p class="margin-reset">  @Html.DisplayFor(model => model.skill) </p>



        </div>
    </div>


    <!-- Education section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Education</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            <dt>
                <small class="date">2012 - 2015</small>
                <strong>Bsc Computing at College of West Anglia</strong>
            </dt>
            <dd>
                <p>Captain, why are we out here chasing comets? Maybe we better talk out here; the observation lounge has turned into a swamp. Ensign Babyface!</p>
            </dd>


            <dt>
                <small class="date">2006 - 2010</small>
                <strong>GCSE something at King Edward 7th</strong>
            </dt>
            <dd>
                <p>Captain, why are we out here chasing comets? Maybe we better talk out here; the observation lounge has turned into a swamp. Ensign Babyface!</p>
            </dd>


            <dt>
                <small class="date">2004 - 2006</small>
                <strong>Test 2 at Test</strong>
            </dt>
            <dd>
                <p>Phasellus vestibulum metus orci, ut facilisis dolor interdum eget. Pellentesque magna sem, hendrerit nec elit sit amet, ornare efficitur est.</p>
            </dd>

        </dl>

    </div>

    <!-- Certification section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Certifications</h3>

        <!-- Resume Table -->
       
    </div>

    <!-- Experience section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Experiences</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            <dt>
                <small class="date">2012 - 2015</small>
                <strong>Bsc Computing at College of West Anglia</strong>
            </dt>
            <dd>
                <p>Captain, why are we out here chasing comets? Maybe we better talk out here; the observation lounge has turned into a swamp. Ensign Babyface!</p>
            </dd>


            <dt>
                <small class="date">2006 - 2010</small>
                <strong>GCSE something at King Edward 7th</strong>
            </dt>
            <dd>
                <p>Captain, why are we out here chasing comets? Maybe we better talk out here; the observation lounge has turned into a swamp. Ensign Babyface!</p>
            </dd>


            <dt>
                <small class="date">2004 - 2006</small>
                <strong>Test 2 at Test</strong>
            </dt>
            <dd>
                <p>Phasellus vestibulum metus orci, ut facilisis dolor interdum eget. Pellentesque magna sem, hendrerit nec elit sit amet, ornare efficitur est.</p>
            </dd>

        </dl>

    </div>



