﻿@model IEnumerable<Solution.Presentation.Models.CandidatureVM>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="widget">
    <ul class="tabs-nav blog">
        <li class="active"><a href="#tab1">Candidates</a></li>
        <li><a href="#tab3">Entreprises</a></li>
    </ul>
    <!-- Tabs Content -->
    <div class="tabs-container">
        <div class="tab-content" id="tab1">

            <!-- Recent Posts -->
            <ul class="widget-tabs">

                @foreach (var item in Model)
                {
                    <li>


                        <div class="widget-text">
                            <h5><a href="">@Html.DisplayFor(modelItem => item.nom) @Html.DisplayFor(modelItem => item.prenom)</a></h5>
                            <span>
                                @Html.DisplayFor(modelItem => item.addresse)
                            </span>
                        </div>
                        <div class="clearfix">
                            @Html.ActionLink("show profile", "Details", new { id = item.CandidatureId }) |
                            @Html.ActionLink("accept", "mail", "Entretien", new { id = item.CandidatureId }, null) |

                            @Html.ActionLink("reject", "Delete", new { id = item.CandidatureId }) |

                          

                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>


