﻿@model Solution.Presentation.Models.CandidateVM

@{
    ViewBag.Title = "DetailsContact";
}

<div id="titlebar" class="resume">
    <div class="container">
        <div class="ten columns">
            <div class="resume-titlebar">
                @{string path = "~/Content/Uploads/" + Model.photo;}
                <img src="@Url.Content(path)" />
                <div class="resumes-list-content">
                    <h4> @Html.DisplayFor(model => model.firstName)  @Html.DisplayFor(model => model.lastName) <span> @Html.DisplayFor(model => model.userName)</span></h4>
                    <span class="icons"><i></i>@Html.DisplayFor(model => model.email)</span><br>
                    <span class="icons"><i></i> @Html.DisplayFor(model => model.phoneNumber)</span><br>
                    <span class="icons"><i></i> @Html.DisplayFor(model => model.address)</span><br>
                    <div class="clearfix"></div>

                </div>
            </div>

        </div>


    </div>
</div>


<div class="container">
    <!-- Recent Jobs -->
    <div class="eight columns">
        <div class="padding-right">

            <h3 class="margin-bottom-15">About Me</h3>

            <p class="margin-reset">  @Html.DisplayFor(model => model.introduction) </p>
            <br><br>

            <h3 class="margin-bottom-15">Skills</h3>

            <p class="margin-reset">  @Html.DisplayFor(model => model.skills) </p>



        </div>
    </div>


    <!-- Education section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Education</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            @foreach (var edu in ViewBag.myEducations)
            {
                <dt>
                    <small>From : @edu.startDate.Year</small>
                    <small>To : @edu.endDate.Year</small>
                    <strong>@edu.diploma at @edu.institution</strong>
                </dt>
                <dd>
                    <p>@edu.description</p>
                </dd>
                <dd>

                </dd>
            }

        </dl>

    </div>

    <!-- Certification section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Certifications</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            @foreach (var certif in ViewBag.myCertifications)
            {
                <dt> <strong>@certif.subject</strong> </dt>
                <dd> <p>@certif.description</p> </dd>

            }
        </dl>
    </div>

    <!-- Experience section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Experiences</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            @foreach (var exp in ViewBag.myExperiences)
            {
                <dt>
                    <small>From : @exp.startDate.Day/@exp.startDate.Month/@exp.startDate.Year</small>
                    <small>To : @exp.endDate.Day/@exp.endDate.Month/@exp.endDate.Year</small>
                    <strong>@exp.campany</strong>
                </dt>
                <dd>
                    <p>@exp.description</p>
                </dd>

            }
        </dl>

    </div>





</div>




