﻿@model Solution.Presentation.Models.CandidateVM

@{
    ViewBag.Title = "Details";
}
<div id="titlebar" class="resume">
    <div class="container">
        <div class="ten columns">
            <div class="resume-titlebar">
                @{string path = "~/Content/Uploads/" + Model.photo;}
                <img src="@Url.Content(path)" />
                <div class="resumes-list-content">
                    <h4> @Html.DisplayFor(model => model.firstName)  @Html.DisplayFor(model => model.lastName) <span> @Html.DisplayFor(model => model.userName)</span></h4>
                    <span class="icons"><i></i>@Html.DisplayFor(model => model.email)</span><br>
                    <span class="icons"><i></i> @Html.DisplayFor(model => model.phoneNumber)</span><br>
                    <span class="icons"><i></i> @Html.DisplayFor(model => model.address)</span><br>
                    <div class="clearfix"></div>
                    <div class="left">
                        <span class="icons"><i class="fa-edit">@Html.ActionLink("Edit Account", "Edit", new { id = Model.Id })</i></span>
                        <span class="icons"><i class="fa-remove">@Html.ActionLink("Delete Account", "Delete", new { id = Model.Id })</i></span>
                        <span class="icons"><i class="fa-remove">@Html.ActionLink("My Contacts", "MyContact", new { id = Model.Id })</i></span>
                        <span class="icons"><i class="">@Html.ActionLink("Contact Requests", "RequestC", new { id = Model.Id })</i></span>
                        <span class="icons"><i class="">@Html.ActionLink("Search for compay or candidate", "Index", new { SearchString = "", SearchEntreprise = ""})</i></span>
                    </div>
                </div>
                
            </div>
            
        </div>


    </div>
</div>


<div class="container">
    <!-- Recent Jobs -->
    <div class="eight columns">
        <div class="padding-right">

            <h3 class="margin-bottom-15">About Me</h3>

            <p class="margin-reset">  @Html.DisplayFor(model => model.introduction) </p>
            <br><br>

            <h3 class="margin-bottom-15">Skills</h3>

            <p class="margin-reset">  @Html.DisplayFor(model => model.skills) </p>



        </div>
    </div>







    <!-- Education section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Education</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            @foreach (var edu in ViewBag.myEducations)
            {
                <dt>
                    <small>From : @edu.startDate.Year</small>
                    <small>To : @edu.endDate.Year</small>
                    <strong>@edu.diploma at @edu.institution</strong>
                </dt>
                <dd>
                    <p>@edu.description</p>
                </dd>
                <dd>
                    @Html.ActionLink("Edit", "EditEdu", new { id = edu.Id }) |
                    @Html.ActionLink("Delete", "DeleteEdu", new { id = edu.Id })
                </dd>
            }
            @Html.ActionLink("⊕ New Education", "AddEdu", new { id = Model.Id })
        </dl>

    </div>
    <!-- Certification section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Certifications</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            @foreach (var certif in ViewBag.myCertifications)
            {
                <dt> <strong>@certif.subject</strong> </dt>
                <dd> <p>@certif.description</p> </dd>
                <dd>
                    @Html.ActionLink("Edit", "EditCertif", new { id = certif.Id }) |
                    @Html.ActionLink("Delete", "DeleteCertif", new { id = certif.Id })
                </dd>

            }
            @Html.ActionLink("⊕ New Certification", "AddCertif", new { id = Model.Id })

        </dl>
    </div>
    <!-- Experience section -->
    <div class="eight columns">

        <h3 class="margin-bottom-20">Experiences</h3>

        <!-- Resume Table -->
        <dl class="resume-table">
            @foreach (var exp in ViewBag.myExperiences)
            {
                <dt>
                    <small>From : @exp.startDate.Day/@exp.startDate.Month/@exp.startDate.Year</small>
                    <small>To : @exp.endDate.Day/@exp.endDate.Month/@exp.endDate.Year</small>
                    <strong>@exp.campany</strong>
                </dt>
                <dd>
                    <p>@exp.description</p>
                </dd>
                <dd>
                    @Html.ActionLink("Edit", "EditExp", new { id = exp.Id }) |
                    @Html.ActionLink("Delete", "DeleteExp", new { id = exp.Id })
                </dd>
            }
            @Html.ActionLink("⊕ New Experience", "AddExp", new { id = Model.Id })
        </dl>

    </div>


</div>





