﻿@model PagedList.IPagedList<Solution.Presentation.Models.CandidateVM>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}


<!-- Tabs -->
<div class="widget">

    <ul class="tabs-nav blog">
        <li class="active"><a href="#tab1">Candidates</a></li>
        <li><a href="#tab2">Entreprises</a></li>
    </ul>

    <!-- Tabs Content -->
    <div class="tabs-container">

        <!--Candidates-->
        <div class="tab-content" id="tab1">
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>
            }

            <!-- Recent Posts -->
            <ul class="widget-tabs">

                @foreach (var item in Model)
                {
                    <li>
                        <div class="widget-thumb">
                            <a href="blog-single-post.html">
                                @{string path = "~/Content/Uploads/" + item.photo;}
                                <img src="@Url.Content(path)" />
                            </a>
                        </div>

                        <div class="widget-text">
                            <h5><a href="">@Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)</a></h5>
                            <span>
                                @Html.DisplayFor(modelItem => item.address)
                            </span>
                        </div>
                        <div class="clearfix">
                            @if (item.amis == 0)
                            {
                                @Html.ActionLink("follow", "addContact", new { id = item.Id })
                            }
                            else if (item.amis == -1)
                            {
                                @Html.ActionLink("Pending", "deleteContact", new { id = item.Id })
                            }
                            else
                            {
                                @Html.ActionLink("Unfollow", "deleteContact", new { id = item.Id })
                            }

                            |
                            @Html.ActionLink("show profile", "DetailsContact", new { id = item.Id })
                        </div>



                    </li>



                }
            </ul>
            @Html.PagedListPager(Model, page => Url.Action("Index", "Candidate", new { page, serch = Request.QueryString["search"] }))

        </div>


        <!--Entreprises-->
        <div class="tab-content" id="tab2">
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("SearchEntreprise")
                    <input type="submit" value="Search" />
                </p>
            }

            <!-- Resume Table -->
            <dl class="widget-tabs">

                @foreach (var es in ViewBag.myEntreprises)
                {
                    <li>
                        <div class="widget-text">
                            <h5>@es.Nom</h5>
                            <span>@es.Address</span>
                        </div>
                        <div class="clearfix">
                            @Html.ActionLink("follow", "addEntreprise", new { id = es.id })
                        </div>

                    </li>

                }
            </dl>

        </div>
    </div>
    @Html.ActionLink("Return to profile", "ReturnProfile")
</div>


