﻿@model Solution.Presentation.Models.CandidateVM

@{
    ViewBag.Title = "Login";
}


    <div>
        <div class="container">

            <div class="my-account">


                <div class="tabs-container">
                    <!-- Login -->
                    <div class="tab-content" id="tab1" style="display: none;">
                        @using (Html.BeginForm())
                        {

                            <p class="form-row form-row-wide">
                                <label for="username">
                                    Email:
                                    <i class="ln ln-icon-Male"></i>
                                    @Html.TextBox("email")
                                </label>
                            </p>

                            <p class="form-row form-row-wide">
                                <label for="password">
                                    Password:
                                    <i class="ln ln-icon-Lock-2"></i>
                                    @Html.Password("password")
                                </label>
                            </p>

                            <p class="form-row">
                                <input type="submit" class="button border fw margin-top-10" name="login" value="Login" />
                            </p>

                        }
                        @Html.ActionLink("Create new account", "Create")
                    </div>
                       
                </div>
                </div>
            </div>


        </div>

  
